gitee
gitee.pub
push.bat
AdvancedAnnouncement-Bukkit/build
AdvancedAnnouncement-Bungee/build
# BungeeCord.jar
# AdvancedAnnouncement-Bungee/lib
Common/build
artifacts
/build
.gradle
.idea
# for debug
servers
bin
/.vscode/
